.Nav1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fdbe33;
}
.ContactNav,.Nav1SocialMediaIcons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.ContactNav p{
    display: flex;
    align-items: center;
    gap:0.5rem;
    color: white;
}
.Nav1SocialMediaIcons .icons{
    font-size: 1.5rem;
    color: white;
}
.Nav1 a:hover,.Nav1SocialMediaIcons .icons:hover{
    color: black;
    cursor: pointer;
}
/*Mobile devices*/
@media  only screen and (min-width:320px) and (max-width:480px) {
    .Nav1{
        display: none;
    }
  
}

/*iPads, Tablets */
@media  only screen and (min-width:481px) and (max-width:768px) {
    .Nav1{
        display: none;
    }
}